apiVersion : apps/v1
kind: Deployment
metadata:
  name: lab 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: lab
  template:
    metadata:
      labels:
        app: lab 
    spec:
      containers:
        - name: lab 
          image: felipemoz.azurecr.io/lab
          ports:
          - containerPort: 8000